body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #c6a7e9; /* Web sayfasının arka plan rengi */
    color: #333333; /* Metin rengi */
}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }


    60% {
        color: rgb(224, 213, 20);
    }

    70% {
        color: rgb(254, 153, 0)
    }

    85% {
        color: rgb(157, 242, 255)
    }

    90% {
        color: rgb(71, 87, 255)
    }

    100% {
      color: blue;
    }
}



h1 {
    color: #c82f08; /* Başlık rengi */
    font-size: 30px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
    animation: color-change 6s infinite;

}

li {
    font-size: 20px;
}

p {
    font-size: 22px;
}

h2 {
    font-size: 27px;
}


    